<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Довідник</title>
<link rel="stylesheet" href="/static/style/style.css" type="text/css" />
<link rel="icon" type="image/png" href="/static/favicon.png">
<script type=text/javascript src="/static/js/jquery.min.js"></script>
<script type=text/javascript src="/static/js/phones.js"></script>
{% block head %}{% endblock %}
</head>
<body>
<div id="header">
	<a href="/"><h1>Довідник</h1></a>
	<div class="tagline"><form action="/search" method="POST"><input type="text" name="search"/><input type="submit" value="Пошук"/></form></div>
</div>
<div id="content">
	{% block body %}{% endblock %}
</div>
<div id="footer">

</div>
</body>
</html>
